{% extends '::base.html.twig' %}

{% block body %}
    {% for i in 0..students|length - 1 %}
        <a href="{{ path('student_info', {'path' : students[i].path}) }}">{{ students[i].name }}</a><br />
    {% endfor %}
    <p>{{ 'now'|date('Y-m-d H:m:s') }}</p>
{% endblock %}